---
layout: default
---
<div class="container">
    <form action="https://formspree.io/elise.tibbo@laposte.net" method="POST">
        <label for="_replyto">Email</label>
        <input type="email" id="_replyto" name="_replyto" placeholder="Email">
        <label for="message">Message</label>
        <textarea rows="5" name="name" id="message" placeholder="Message..."></textarea>
        <input type="hidden" name="_next" value="{{ site.url }}/contact/" />
        <input type="hidden" name="_language" value="fr" />
        <input type="submit" value="Envoyer">
    </form>
</div>

